<!DOCTYPE html>
<html lang="es">

<head>
    <title>{% site_name %} {% username %}</title>
    <!-- Required meta tags -->
    {% block meta %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"> {% endblock %}

    <!-- Navbar header -->
    {% block navbar_head %}
    {% style "/bootstrap/css/bootstrap.min.css" %}
    {% style "/bootstrap/css/lumen.min.css" %}
    {% endblock %}

    <!-- Block header -->
    {% block head %} {% endblock %}

    <!-- Block loader -->
    {% block loader_head %} {% style "/css/loader.css" %} {% endblock %}
</head>

<body>
    <!-- Lodader container -->
    {% block loader_container %}
    <div class="loader"></div>
    {% endblock %}

    <!-- Navigation bar -->
    {% block navbar_content %}
    {% include "sk/menus.html" %}
    {% endblock %}

    <!-- App container -->
    <div class="container-fluid" style="margin-top:75px;">
        <!-- Content here -->
        {% block content %} {% endblock %}
    </div>

    <!-- Navbar scripts -->
    {% block navbar_scripts %}
    {% script "/easyui/jquery.min.js" %}
    {% script "/popper/popper.min.js" %}
    {% script "/bootstrap/js/bootstrap.min.js" %}
    {% endblock %}

    <!-- Generic scripts -->
    {% block scripts %} {% endblock %}

    <!-- Block loader_scripts -->
    {% block loader_scripts %} {% script "/js/extra.js" %}
    <script>
        $(window).load(function()
        {
            $(".loader").fadeOut("slow");
        });
    </script>
    {% endblock %}
</body>

</html>
