{% extends "base.html" %}

{% block head %}
{% style "/easyui/themes/default/easyui.css" %}
{% style "/easyui/themes/icon.css" %}
{% style "/easyui/themes/color.css" %}
{% endblock %}

{% block content %}
<div class="container col-8">
    <div class="card-header">
        <h4 class="mb-0"><span style="color:rgb(18,123,163);">{{ title }}</span></h4>
    </div>
    <form id="mf" method="post" novalidate style="width:100%;background-color:#EFEFEF;">
        {% csrf-field %}
        <input type="hidden" name="username">
        <div class="form-group col-10">
            <label for="password">Contraseña:</label>
            <input id="password" name="password" class="form-control easyui-passwordbox">
        </div>
        <div class="form-group col-10">
            <label for="password1">Repetir Contraseña:</label>
            <input class="form-control easyui-passwordbox" validType="confirmPass['#password']">
        </div>
        <div class="form-group col-10">
            <a href="javascript:void(0)" class="btn btn-primary easyui-linkbutton" id="submit">Cambiar Contraseña</a>
        </div>
    </form>
</div>
{% endblock %}

{% block scripts %}
{% script "/easyui/jquery.easyui.min.js" %}
{% script "/easyui/datagrid-detailview.js" %}
{% script "/easyui/plugins/jquery.datagrid.js" %}
{% script "/js/jquery.maskedinput.min.js" %}
{% script "/easyui/locale/easyui-lang-es.js" %}
<script>
  $(document).ready(function() {
    $.extend($.fn.validatebox.defaults.rules, {
      confirmPass: {
        validator: function(value, param) {
          var password = $(param[0]).passwordbox('getValue');
          return value == password;
        },
        message: 'La contraseña confirmadora no es igual.'
      }
    })

    $("#mf").form('load', {{ row|safe }});

    $("a#submit").click(function() {
      $("#mf").form("submit", {
        url: "/reset_password",
        onSubmit: function() {
          return $(this).form("enableValidation").form("validate");
        },
        success: function(data) {
          var dta = JSON.parse(data);
          try {
            if(dta.hasOwnProperty('url')) {
              $.messager.alert({
                title: 'Processado!',
                msg: 'Su contraseña se ha cambiado!',
                fn: function() {
                  window.location.href = dta.url;
                }
              })
            } else if(dta.hasOwnProperty('error')) {
              $.messager.alert('Error', dta.error, 'error');
            }
          } catch(e) {
            console.error("Invalid JSON");
          }
        }
      });
    });
  });
</script>
{% endblock %}
